# Dependencias de composer
/vendor/

# Archivos de entorno y configuración
config.php
.env
db_connect.php

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Documentos y subidas de usuarios
uploads/
documentos/

# Logs
logs/
*.log

# Cache de Python (si usas scripts en Python)
__pycache__/
*.pyc
*.pyo

.env
/V1.0.3-Arreglo de errores/scripts/venv
/V0.0.22-Idioma/scripts/__pycache__
